@model List<deneme.Models.Login>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IsLogin</title>
</head>
<body>
    <div>
        <p>@Model[0].username giris yaptı</p>  
    </div> 
</body>
</html>
